{% extends 'admission_exam_db/base.html' %}
{% block title %}受験一覧{% endblock %}
{% block content %}
{% if admission_exam_list %}
    <input type="number" id="exam-year-filterInput" placeholder="受験年度" class="filterInput">
    <input type="text" id="university-name-filterInput" placeholder="大学名" class="filterInput">
    <table class="admission_exam_table table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>受験年度</th>
                <th>大学</th>
                <th>学部</th>
                <th>氏名</th>
                <th>合否</th>
            </tr>
        </thead>
        <tbody>
            {% for admission_exam in admission_exam_list %}
            <tr onclick="window.location.href='{% url 'admission_exam_db:edit_student_admission_exam' student_id=admission_exam.student.student_id student_admission_exam_id=admission_exam.id %}';" style="cursor:pointer;">
                <td class="exam_year">{{ admission_exam.year_to_take }}</td>
                <td class="university">{{ admission_exam.university_faculty.university_name }}</td>
                <td>{{ admission_exam.university_faculty.faculty_name }}</td>
                <td>{{ admission_exam.student.family_name }} {{ admission_exam.student.given_name }}</td>
                <td>{{ admission_exam.get_result_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static %}
    <script src="{% static 'admission_exam_db/js/admission_exam_filter.js' %}" defer></script>
{% else %}
    <p>No admission_exam data are available.</p>
{% endif %}
{% endblock %}

