{% extends 'admission_exam_db/base.html' %}
{% block title %}受験一覧{% endblock %}
{% block content %}
{% if admission_exam_list %}
    <input type="number" id="exam-year-filterInput" placeholder="受験年度" class="filterInput">
    <input type="text" id="university-name-filterInput" placeholder="大学名" class="filterInput">
    <input type="text" id="faculty-name-filterInput" placeholder="学部名" class="filterInput">
    <input type="text" id="student-name-filterInput" placeholder="氏名" class="filterInput">


    <!-- Modal -->
    <!-- モーダルを開くボタン -->
    <button class="modal-open js-modal-open">受験結果フィルター</button>

    <!-- モーダル本体 -->
    <div class="modal js-modal">
        <div class="modal-container">
            <!-- モーダルを閉じるボタン -->
            <div class="modal-close js-modal-close">×</div>
            <!-- モーダル内部のコンテンツ -->
            <div class="modal-content">
                <p>受験結果フィルター</p>
                <section class="passed-choices">
                    <section class="twocols">
                        <div class="twocols-container">
                            <div class="col">
                                <ul>
                                    {% for choice in passed_choices %}
                                    <label><li><input type="checkbox" id={{ choice.key }} name="result-filter" class="passed-filterChoice result-filterChoice" value={{ choice.value }} checked >{{ choice.value }}</li></label>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <label><li><input type="checkbox" id="passed-choice" name="result-filter" value="P" checked >合格</li></label>
                                </ul>
                            </div>
                        </div>
                    </section>
                </section>
                <section class="rejected-choices">
                    <section class="twocols">
                        <div class="twocols-container">
                            <div class="col">
                                <ul>
                                    {% for choice in rejected_choices %}
                                    <label><li><input type="checkbox" id={{ choice.key }} name="result-filter" class="rejected-filterChoice result-filterChoice" value={{ choice.value }} checked >{{ choice.value }}</li></label>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <label><li><input type="checkbox" id="rejected-choice" name="result-filter" value="P" checked >不合格</li></label>
                                </ul>
                            </div>
                        </div>
                    </section>
                </section>
                <section class="yet-choices">
                    <section class="twocols">
                        <div class="twocols-container">
                            <div class="col">
                                <ul>
                                    {% for choice in yet_choices %}
                                    <label><li><input type="checkbox" id={{ choice.key }} name="result-filter" class="yet-filterChoice result-filterChoice" value={{ choice.value }} checked >{{ choice.value }}</li></label>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <label><li><input type="checkbox" id="yet-choice" name="result-filter" value="P" checked >未定</li></label>
                                </ul>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>

    <table class="admission_exam_table table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>受験年度</th>
                <th>大学</th>
                <th>学部</th>
                <th>氏名</th>
                <th>結果</th>
            </tr>
        </thead>
        <tbody>
            {% for admission_exam in admission_exam_list %}
            <tr onclick="window.location.href='{% url 'admission_exam_db:edit_student_admission_exam' student_id=admission_exam.student.student_id student_admission_exam_id=admission_exam.id %}';" style="cursor:pointer;">
                <td class="exam_year">{{ admission_exam.year_to_take }}</td>
                <td class="university">{{ admission_exam.university_faculty.university_name }}</td>
                <td class="faculty">{{ admission_exam.university_faculty.faculty_name }}</td>
                <td class="student_name">{{ admission_exam.student.family_name }} {{ admission_exam.student.given_name }}</td>
                <td class="result">{{ admission_exam.get_result_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static %}
    <script src="{% static 'admission_exam_db/js/admission_exam_filter.js' %}" defer></script>
{% else %}
    <p>No admission_exam data are available.</p>
{% endif %}
{% endblock %}

