{% extends 'admission_exam_db/base.html' %}
{% block title %}データダウンロード{% endblock %}
{% block content %}
<ul>
    <li><a href="{% url 'admission_exam_db:download_data_csv' file_kind='student' %}">生徒データダウンロード</a></li>
    <li><a href="{% url 'admission_exam_db:download_data_csv' file_kind='university_faculty' %}">大学学部データダウンロード</a></li>
    <li><a href="{% url 'admission_exam_db:download_data_csv' file_kind='student_admission_exam' %}">受験データダウンロード</a></li>
    <li><a href="{% url 'admission_exam_db:download_data_csv' file_kind='preference_choice' %}">志望対応表ダウンロード</a></li>
    <li><a href="{% url 'admission_exam_db:download_data_csv' file_kind='result_choice' %}">結果対応表ダウンロード</a></li>
</ul>
{% endblock %}


