{% extends 'admission_exam_db/base.html' %}
{% block title %}合格者数{% endblock %}
{% block content %}
        {% load custom_tags %}
        {% for year in passed_exam_count_table.keys %}
        <h2>{{ year }}年度</h2>
            <table class="passed_exam_count_table table table-bordered table-hover" border="3">
                <thead>
                    <tr>
                        <th>大学</th>
                        <th>学部</th>
                        <th>合格者数</th>
                    </tr>
                </thead>
                <tbody>
                {% with university_list=passed_exam_count_table|get_value:year %}
                    {% for university in university_list.keys %}
                        {% with university_data=university_list|get_value:university %}
                            {% for faculty in university_data.keys %}
                                {% if forloop.first %}
                                <tr onclick="window.location.href='{% url "admission_exam_db:passed_exam_by_university" exam_year=year university=university %}';" style="cursor:pointer;">
                                    <td rowspan="{{ university_data|get_length }}" class="university-name">{{ university }}</td>
                                    <td>{{ faculty }}</td>
                                    <td>{{ university_data|get_value:faculty }}名</td>
                                </tr>
                                {% else %}
                                <tr onclick="window.location.href='{% url "admission_exam_db:passed_exam_by_university" exam_year=year university=university %}';" style="cursor:pointer;">
                                    <td>{{ faculty }}</td>
                                    <td>{{ university_data|get_value:faculty }}名</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
                </tbody>
            </table>
        {% endfor %}
{% endblock %}


