{% extends 'admission_exam_db/base.html' %}
{% block title %}生徒一覧{% endblock %}
{% block content %}
{% if student_list %}
    <input type="text" id="student-name-filterInput" placeholder="氏名" class="filterInput">
    <table class="student-table">
        <thead>
            <tr>
                <th>組</th>
                <th>番</th>
                <th>氏名</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <td>{{ student.homeroom_class}}</td>
                <td>{{ student.attendance_number}}</td>
                <td><a href="{% url 'admission_exam_db:student_detail' student.student_id %}">{{ student.family_name }} {{student.given_name}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static %}
    <script src="{% static 'admission_exam_db/js/student_filter.js' %}" defer></script>
{% else %}
    <p>No student data are available.</p>
{% endif %}
{% endblock %}
