{% extends 'admission_exam_db/base.html' %}

{% block head %}
{% load static %}
    <script src="{% static 'admission_exam_db/js/autocomplete.js' %}" defer></script>
{% endblock %}
{% block title %}{{ student_name }}受験記録{% endblock %}

{% block content %}
<h2>{{ student_name }}受験記録</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">保存</button>
</form>
<div id="autocomplete-results"></div><!-- オートコンプリート候補表示用 -->
<a href="{% url 'admission_exam_db:student_detail' student_id=student_id %}">戻る</a>
{% endblock %}
